body {
  font-family: $primary-fonts;
  transition: .1s background-color ease;
  margin: 0px;
  padding: 0px;


  .week-swiper {
    position: fixed;
    top: 3em;
    background-color: $brand-primary;
    height: 3em;
    z-index: 999;
    width: 100%;
  }

  .week-swiper-slide {
    width: 100%;

    .day {
      margin-top: 0.5em;
      width: 14%;
      float: left;
      text-align: center;
      color: white;
      box-sizing: border-box;

      span {
        color: $brand-primary;
        border-radius: 1em;
        background-color: white;
        padding: 0.3em 0.8em;
      }
    }
  }

  .day-swiper-wrapper {
    height: 100%;

    .day-swiper-slide {
      width: 100%;
      position: relative;
    }
  }


  .overlay {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .summary {
    background-color: $brand-primary;
  }

  .nav {
    width: 100%;
    position: fixed;
    text-align: center;
    padding: 0.8em 0 0.8em 0;
    background-color: $brand-primary;
    color: #fff;
    font-size: 16px;
    z-index: 9999;

    .prompt {
      text-align: left;
      padding: 1em 1em 0em 1em;

      h2 {
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        font-size: 12px;
        margin: 0px;
        font-weight: 300;
      }
    }

    .title {
      max-width: 70%;
      margin: 0px auto;
    }

    .nav-button {
      padding: 0em 0.4em;
      position: fixed;

      &.left {
        left: 0.3em;

        .button-back {
          width: 0.8em;
        }
      }

      &.right {
        right: 0.3em;
        text-align: right;
      }
    }

    .segmented {

      ul {
        display: table;
        margin: 0 auto;
        padding: 0px;
      }

      li {
        padding: 0em 1em;
        list-style-type: none; 
        float: left;
        opacity: 0.3;

        &.active {
          opacity: 1;
        }
      }
    }
  }

  .container {
    padding-top: 3em;
    font-size: 16px;

    &.extra-padding {
      padding-top: 6.4em;
    }

    .blank-action {
      width: 80%;
      margin: 0px auto;
      margin-top: 5em;
      text-align: center;

      img {
        width: 60%;
        opacity: 0.4;
      }

      p {
        font-size: 22px;
      }
    }

    .cell {
      padding: 1.2em 0.6em 1.2em 1em;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      h2 {
        margin: 0px;
        padding: 0px;
        font-weight: 300;
        color: $heading-text-color;
        font-size: 20px;
      }

      p {
        margin: 0px;
        padding: 0px;
        color: $body-text-color;
      }

      .notifications {
        float: right;
        position: relative;
        top: 1em;

        p {
          background-color: $brand-secondary;
          color: white;
          font-size: 10px;
          padding: 0.2em 0.5em;
          border-radius: 0.4em;
        }
      }

      &.calendar {
        padding: 1.4em 1em;
      }

      &.list-header {
        padding: 0.7em 1em;
        text-transform: uppercase;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.4);
      }

      &.archived, &.checked {
        opacity: 0.4;
     }

      &.candidate {
        position: relative;
        &.flash-green {
          background-color: #81B84B;
          color: white;
        }
        &.flash-red {
          background-color: #B84B4B;
          color: white;
        }
        
        &::before {
          content: url("../img/smiley.png");
          transform: scale(.3);
          -webkit-transform: scale(.3);
          top: 0em;
          position: absolute;
          left: -3em;
          z-index: 999;
        }

        &::after {
          content: url("../img/frowney.png");
          transform: scale(.3);
          -webkit-transform: scale(.3);
          top: 0em;
          position: absolute;
          right: -3em;
          z-index: 999;
        }

        .faces {
          float: right;
          list-style-type: none;
          display: block;
          margin-top: 1.2em;
          li {
            float: left;
            width: 0.8em;
            padding-left: 0.2em;
            opacity: 0.4;
            img {
              width: 100%;
            }
          }
        }

      }

      .calendar-bar {
        width: 100%;
        height: 1em;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.3);
       
       .time {
          top: 0em;
          position: absolute;

          &.busy {
            border-top: 4px solid rgba(118, 145, 218, 0.2);
          }
         }
      }

      &.bounce-back {
        transition: all 0.2s;
      }
    }

    .response {
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
      font-size: 12px;
      margin: 0.5em 0em;
    }

    .chat {
      margin: 0em 0.4em;
      max-width: 80%;

      &.faded {
        opacity: 0.3;
      }

      .bubble {
        display: inline-block;
        font-size: 16px;
        max-width: 100%;
        margin: 0.6em 0.4em;
        border-radius: 0.6em;
        background-color: $chat-bubble;
        font-weight: 300;

        p {
          padding: 0.6em 0.8em;
          margin: 0px;
        }

        &.problem {
          background-color: $brand-lighter;
          color: white;
        }
      }

      .reply-by {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding: 0.6em;
        font-weight: 500;
      }

      .author {
        position: relative;
        font-size: 14px;
        top: -0.4em;
        margin-bottom: 1.4em;
      }

    }

    .chat-left {
      & > .author p {
        position: absolute;
        top: 0.3em;
        margin: 0px;
        left: 2em;
        color: #777777;
      }

      & > .author img {
        position: absolute;
        top: 0.1em;
        width: 1.6em;
        border-radius: 0.8em;
      }
    }

    .chat-right {
      float: right;

      & > .author p {
        position: absolute;
        top: 0.3em;
        right: 2em;
        margin: 0px;
        color: #777777;
      }

      & > .author img {
        position: absolute;
        right: 0em;
        top: 0.1em;
        width: 1.6em;
        border-radius: 0.8em;
      }
    }

    .card {
      background-color: $brand-lighter;
      padding: 0.5em 0.6em;
      margin: 0.5em 0.5em;
      border-radius: 0.3em;
      box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
      color: #fff;

      h2 {
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        font-size: 12px;
        margin: 0px;
        font-weight: 300;
      }

      p {
        margin: 0px;
        padding-top: 0.2em;
      }
    }

    .contacts {
      .cell {
        padding: 0.8em 0.6em;
      }
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
}
