.create-input input {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-radius: 0px;
  margin: 0px;
  margin-top: 1em;
  padding: 0.6em 0.4em;
  font-size: 16px;
  float: left;
  -webkit-appearance: none;
  outline: none;
}
