.volunteers {
  position: absolute;
  list-style-type: none;
  display: block;
  margin: 0px;
  padding: 0px;
  right: 1em;
  max-width: 20%;

  li {
    float: left;
    padding-left: 0.4em;
    width: 1.2em;

    img {
      width: 100%;
    }
  }

  .num-volunteers {
    color: rgba(0, 0, 0, 0.5);
  }
}

.checkbox {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    border-radius: 0.3em;
    margin: -0.2em 0.4em 0em 0em;
    border: 2px solid $brand-primary;
}
