.message-input {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  form {
    width: 100%;
    margin: 0px;
  }

  input[type="text"]{
    font-family: $primary-fonts;
    border: none;
    border-radius: 0px;
    margin: 0px;
    padding: 0.6em 0.4em;
    /* TODO: Can we make it take everything except the Send button? */
    width: 80%;
    font-size: 16px;
    float: left;
    -webkit-appearance: none;
    outline: none;
  }

  input[type="submit"] {
    font-family: $primary-fonts;
    font-size: 16px;
    float: right;
    text-align: right;
    padding: 0.6em 0.4em;
    max-width: 20%;
    border: 0px;
    color: $brand-primary;
    background-color: #ffffff;
    outline: none;
    -webkit-appearance: none;
  }
}
